<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trollbox</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="showRadio()" margin-right>
        <ion-icon name="checkbox-outline"></ion-icon>
      </button>
    </ion-buttons>
     
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <a href="#" ion-text text-justify (click)="showUrl()">How to Earn 41,376.00 dollars with Cryptocurrencies in less than one year</a>
    </ion-card-content>
  </ion-card>

  <div *ngIf="!data.hasReceivedMessage">
      <p ion-text text-center color="dark-yellow">waiting for messages ...</p>
  </div>
 
  <div *ngIf="data.msgs !== undefined">
    <div *ngFor="let tab of data.tabs">
      <ion-list *ngIf="(selectedFilter == 'all') || (selectedFilter == tab)">
        <ion-list-header>
          <h3 ion-text color="polo-base"><b>{{ tab }}</b></h3>
        </ion-list-header>
        <ion-item *ngFor="let msg of data.msgs[tab]" text-wrap>
          <h3 ion-text color="dark-yellow">{{msg.author}}:</h3>
          <!--<h3>{{msg.author}} at {{msg.time}} </h3>-->
          <p ion-text>{{ msg.message }}</p>
        </ion-item>
      </ion-list>
      
    </div>
  </div>
</ion-content>
