<ion-header>

  <ion-navbar>
    <ion-title>{{investment.currency}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>
  <ion-list *ngIf="investment">

    <ion-list-header>
      <p ion-text color="polo-base">Input Values</p>    
    </ion-list-header>


    <ion-item *ngIf="investment.isNew"> 
      <ion-label>Currency Symbol</ion-label>
      <ion-input type="text" clearInput text-right placeholder="Symbol" [(ngModel)]="investment.currency" (input)="onCurrencyEnter($event.target.value)"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Balance</ion-label>
      <ion-input type="number" text-right placeholder="Balance" [(ngModel)]="investment.balance" ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Open Orders</ion-label>
      <ion-input type="number" text-right placeholder="Open Orders" [(ngModel)]="investment.openOrders"></ion-input>
      </ion-item>

    <ion-item>
       <ion-label>Avg Cost</ion-label>
       <ion-input type="number" text-right placeholder="Avg Cost" [(ngModel)]="investment.avgCost"></ion-input>
    </ion-item>

    <!--<ion-item-divider color="polo-base">Results</ion-item-divider>-->
    <ion-list-header>
      <p ion-text color="polo-base">Results</p>    
    </ion-list-header>


    <ion-item> 
      <ion-label>Total Balance</ion-label>     
      <ion-badge item-right color="dark-yellow">
        {{investment.totalBalance()| number: '1.6-6'}}
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>Actual Price</ion-label>
      <ion-badge item-right color="dark-yellow">
        {{investment.actualPrice| number: '1.6-6'}}
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>% Change</ion-label>
      <ion-badge item-right color="{{investment.pctChange() >= 0 ? 'dark-green' : 'dark-red'}}">
        {{ investment.pctChange() | number:'1.2-2' }} %
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>24h % Change</ion-label>
      <ion-badge item-right color="{{investment.percentChange >= 0 ? 'dark-green' : 'dark-red'}}">
        {{ investment.percentChange | number:'1.2-2' }} %
      </ion-badge>
    </ion-item>
    
    <ion-item>
      <ion-label>% Of Investment</ion-label> 
      <ion-badge item-right color="dark-yellow">
        {{investment.pctOfInvestment| number: '1.2-2'}} %
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>BTC Value</ion-label>
      <ion-badge item-right color="dark-yellow">
        {{investment.btcValue()| number: '1.6-6'}}
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label>USDT Value</ion-label>
      <ion-badge item-right color="dark-yellow">
        {{investment.usdValue()| number: '1.2-2'}}
      </ion-badge>
      </ion-item>
  </ion-list>  

  
</ion-content>
