<!--
  Generated template for the InvestmentDetail page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{investment.currency}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list *ngIf="investment">


    <ion-item *ngIf="investment.isNew"> 
      <ion-label color="polo-light">Currency Symbol:</ion-label>
      <ion-input type="text" text-right placeholder="Symbol" [(ngModel)]="investment.currency" clearInput></ion-input>
    </ion-item>

    <ion-item> 
      Total Balance:
      <ion-badge item-right color="dark-yellow">
        {{investment.totalBalance()| number: '1.6-6'}}
      </ion-badge>
    </ion-item>

    <ion-item>
      <ion-label color="polo-light">Balance:</ion-label>
      <ion-input type="number" text-right placeholder="Balance" [(ngModel)]="investment.balance" clearInput></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="polo-light">Open Orders:</ion-label>
      <ion-input type="number" text-right placeholder="Open Orders" [(ngModel)]="investment.openOrders" clearInput></ion-input>
      </ion-item>

    <ion-item>
       <ion-label color="polo-light">Avg Cost:</ion-label>
       <ion-input type="number" text-right placeholder="Avg Cost" [(ngModel)]="investment.avgCost" clearInput></ion-input>
    </ion-item>

    <ion-item>
      Actual Price
      <ion-badge item-right color="dark-yellow">
        {{investment.actualPrice| number: '1.6-6'}}
      </ion-badge>
    </ion-item>

    <ion-item>
      % Change
      <ion-badge item-right color="{{investment.pctChange() >= 0 ? 'dark-green' : 'dark-red'}}">
        {{ investment.pctChange() | number:'1.2-2' }} %
      </ion-badge>
    </ion-item>

    <ion-item>
      24h % Change:
      <ion-badge item-right color="{{investment.percentChange >= 0 ? 'dark-green' : 'dark-red'}}">
        {{ investment.percentChange | number:'1.2-2' }} %
      </ion-badge>
    </ion-item>
    
    <ion-item>% Of Investment 
      <ion-badge item-right color="dark-yellow">
        {{investment.pctOfInvestment| number: '1.2-2'}} %
      </ion-badge>
    </ion-item>

    <ion-item>
      BTC Value
      <ion-badge item-right color="dark-yellow">
        {{investment.btcValue()| number: '1.6-6'}}
      </ion-badge>
    </ion-item>

    <ion-item>
      USDT Value
      <ion-badge item-right color="dark-yellow">
        {{investment.usdValue()| number: '1.2-2'}}
      </ion-badge>
      </ion-item>
  </ion-list>  

  
</ion-content>
